# Python files.
*.py linguist-language=Python

# Both JS and TS are valid TypeScript files
*.js linguist-language=TypeScript
*.ts linguist-language=TypeScript

# Java files.
*.java linguist-language=Java
*.xml linguist-language=Java

# These extentions are all valid C++ files.
*.c linguist-language=C++
*.h linguist-language=C++
*.c++ linguist-language=C++
*.h++ linguist-language=C++
meson.build linguist-language=C++
